.post .post-index {
  font-family: 'Exo', sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.1px;
  font-variant-numeric: tabular-nums;
}

@media (max-width: 700px) {
  .post .post-index {
    font-size: 14px;
  }
}
